.Home_Main {
    background: linear-gradient(lightblue, lightgray);
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.Me {
    border-radius: 50%;
	width: 200px;
	height: 200px;
    display: flex;
    margin: auto;
    padding-top: 45px; 
}

.Logo_Container {
    outline: 1px solid black;
    text-align: center;
    width:350px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -175px;
}

.Job_Title {
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 2px;
    color: black;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Name{
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 2px;
    color: black;
    padding-top: 15px;
}