.About_Main {
    /* display: flex; */
    min-height: 75vh;
    width: 50vw;
    margin: auto;
}

.About_Header {
    font-weight: 400;
    font-size: 2em;
    margin: auto;
    padding-top: 16%;
    padding-bottom: 2%;
    color: #293a3f;
    
}

.About_Me {
    font-size: 1.8em;
    font-weight: 200;
    line-height: 1.5;
    margin: auto;
    color: #999999;
}

.About_Description p {
    margin: 30px;
}